*{
	margin: 0px;
	padding: 0px;
	/*outline: 1px green dashed;*/
}

/*---------------------BEGIN: INDEX.WALL STYLING----------------------*/

.blackBack{
	background-color: black;
}

.container{
	width: 920px;
	min-height: 459px;
	margin: 0 auto;
}	
	.logoutLink{
		width: 100%;
	}
		.logout{
			margin-right: 90%;
			background: transparent;
			border: transparent;
			color: red;
			text-decoration: underline;
		}
	h1{
		font-family: 'Century Gothic';
		text-align: center;
		margin-bottom: 2px;
		font-weight: bold;
		background: linear-gradient(90deg, blue, limegreen, blue);
	}	
	.now_registered{
		color: limegreen;
		width: 100%;
		height: 40px;
		/*border: 1px dashed red;*/
		text-align: center;
	}
	.errorBoxReg{
		margin-left: 25px;
		width: 300px;
		height: 100px;
		/*border: 1px solid black;*/
	}
	.spacer{
		width: 100%;
		min-height: 5px;
	}
	.errorBoxReg{
		width: 274px;
		height: 85px;
	}
		.errorText{
			font-size: 12px;
			color: red;
			margin: 2px;
		}
	.registerBox{
		color: white;
		font-weight: bold;
		background-image: url("seahawks3.png");
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 25px;
		width: 270px;
		height: 392px;
		border: 3px solid gray;
	}
		.hawksSpace{
			width: 100%;
			height: 230px;
		}
		h3{
			color: limegreen;
			text-align: center;
			margin-bottom: 10px;
		}
		label{
			background: linear-gradient(rgb(32,208,42),rgb(34,133,251), rgb(32,208,42));
			font-weight: bolder;
			/*color: limegreen;*/
			display: block;
			text-align: right;
			margin-top:2px;
			margin-bottom:2px;

		}
		.btn{
			display: block;
			margin: 15 auto;
			width: 75px;
			height: 33px;
			background-image: url("hawk_btn.jpg");
		}
	.errorBoxLog{
		width: 300px;
		height: 30px;
		margin-left: 400px;		
	}
	
	.loginBox{
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 400px;
		width: 300px;
		border: 1px black solid;
		border-radius: 10px;
	}

	/*-----------------------BEGIN: HAWK_WALL STYLING ------------------------*/

	.wall_container{
		margin: 0 auto;
		height: 479px;
		width: 720px;
		background-image: url("clink.jpeg");
	}
		.helloText{
			color: limegreen;
			text-align: center;
		}
		.wall_error_box{
			width: 300px;
			margin: 0 auto;
			padding-top: 5px;
			height: 30px;
		}
		.message_box{
			margin: 0 auto;
			width: 300px;
			height: 120px;
		}
			.message_area{
				color: white;
				font-size: 12px;
				background: linear-gradient(90deg,green, darkblue, green);
				width: 100%;
				height: 50px;
			}
			p{
				text-align: center;
			}
			.message_btn{
			width: 75px;
			height: 33px;
			background-image: url("hawk_btn.jpg");
			margin-left: 112px;
			}		
	.history_container{
		margin: 0 auto;
		height: 479px;
		width: 720px;
	}	
		.error_center{
			color: red;
			width: 500px;
			margin: 0 auto;
			margin-top: 20px;
			min-height: 12px;
			text-align: center;
		}	
		
		.message_center{
			width: 500px;
			margin: 0 auto;
			min-height: 100px;
		}	
			.message_post{
				/*background-color: darkblue;*/
				padding: 10px;
				color: limegreen;
				border-top: 1px dotted limegreen ;
				margin-bottom: 10px;
			}
			.message_content{
				text-align: left;
			}
			.message_author{
				font-size: 12px;
				text-align: right;
			}
			.message_time{
				text-align: right;
				font-size: 10px;
			}
				.comment_title{
					margin-left: 80%;
					font-size: 12px;
				}
				.comment_area{
					margin-top: 15px;
					margin-left: 32%;
					color: white;
					font-size: 12px;
					background: linear-gradient(90deg,green, darkblue, green);
					height: 25px;
				}
			.comment_post{
				/*background-color: red;*/
				margin: 0 auto;
				margin-top: 10px;
				width: 300px;
				border-top: 1px solid limegreen;
			}
				.comment_content{
					text-align: left;
				}
				.comment_author{
					font-size: 12px;
					text-align: right;
				}
				.comment_time{
					text-align: right;
					font-size: 10px;
				}
				.comment_btn{

					display: block;
					margin: 15 auto;
					margin-left: 67%;
					width: 73px;
					height: 27px;
					background-image: url("hawks12btn.jpeg");
		}
